html body
    margin 0
    min-height 100%

body
    background color-bg

header
    padding 20px 0

    a.logo
        circle(130px, color-white)
        border-radius 130px
        display block
        color color-bg
        font-size 35px
        margin auto
        border 2px solid color-bg
        box-shadow 0 0 0 2px color-white

.row
    grid-system()

.page-width
    page-width()

section
    display block
    padding 50px 0

.center
    text-align center

.left
    float left

.right
    float right

.actions
    margin-top -120px
    padding-bottom 120px

    .left, .right
        width 50%
        box-sizing border-box

    .right
        padding-left 70px

    .left
        padding-right 70px
        text-align right

    .button
        opacity 0.3
        transition opacity .2s
        margin 0 20px

        &:hover
            opacity 1

        &.load
            background color-purple

        &.save
            background color-green