loop-display-size = 150px

.board
    text-align center
    margin 20px 0

    > div
        display inline-block
        margin 20px

loop-display(color)
    circle(loop-display-size, color)
    font-size 30px
    font-weight 100
    transition background .2s
    line-height 20px
    position relative
    no-select()

    .label
        display inline-block
        position absolute
        z-index 5
        line-height 0
        width 100%
        left 0
        height 30px
        line-height 30px
        top 50%
        margin-top -15px

    &:after
        content ''
        display inline-block

.loop
    loop-display(color-primary)

    &.muted
        background rgba(color-primary, .2)

    .waveform
        absolute-cover()
        border-radius 100%
        overflow hidden

        > wave
            left -50%
            overflow visible !important

        wave, canvas
            min-height 100%

    .label

        &:focus
            outline 0

    .control
        display inline-block
        circle 24px
        color #fff
        font-size 24px
        line-height 22px
        position absolute
        z-index 3
        opacity 0
        transition opacity .2s

        &.delete
            background color-red
            left 50%
            top -12px
            margin-left -12px

    form
        position absolute
        width 100%
        left 0
        top 50%
        margin-top -20px
        line-height 0
        z-index 5

        input
            padding 0
            background transparent
            border 0
            text-align center
            font-size 30px
            width 100%
            color #fff
            font-family font-body
            font-weight 100

    &:hover .control
        opacity 1

.recorder
    loop-display(rgba(color-orange, .5))

    &.recording
        background color-red

    &.preparing
        background color-yellow

.stats-bar
    debullet()
    text-align center
    margin-top 40px

    li
        display inline-block
        margin 0 20px

    input.signature
        width 7px

    input.tempo
        width 25px
        text-align center