loop-display-size = 150px

.board
    text-align center
    margin 20px 0

    > div
        display inline-block
        margin 20px

loop-display(color = color-primary)
    circle(loop-display-size, color)
    font-size 30px
    font-weight 100
    no-select()

    &:after
        content ''
        display inline-block

.loop
    loop-display()

.recorder
    loop-display(rgba(color-primary, .5))
    transition background .2s

    &.active
        background color-red

.stats-bar
    debullet()
    text-align center
    margin-top 40px

    li
        display inline-block
        margin 0 20px

    input.signature
        width 7px

    input.tempo
        width 25px
        text-align center