input[type="text"]
input[type="password"]
input[type="email"]
input[type="number"]
textarea
    border 1px solid color-ruler
    background #fff
    box-shadow none
    padding 5px
    border-radius 3px
    margin-top 0
    margin-bottom 20px
    color color-black
    transition border-color .2s

    &:focus
        outline none
        border-color color-primary

    &.block
        block-input()

    &:last-child
        margin-bottom 0